/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
/teste1/nbproject/private/
/xablau/nbproject/private/
/Exercicio1/nbproject/private/
/Exercicio1/build/